# R project, history, etc.
.Rproj.user
.Rhistory
.RData
.Rprofile
*.Rproj

# knitr caches
*_cache/

# photoshop files
*.psd

# Unfinished lessons
Untitled*

# development notes
dev/

# temporary
data/