# R project, history, etc.
.Rproj.user
.Rhistory
.RData
.Rprofile
*.Rproj

# knitr caches
*_cache/

# image sources
*.psd
*.key

# Unfinished lessons
Untitled*

# development notes
dev/

# temporary
data/
pdf/